<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container py-2">
    <a class="navbar-brand brand" href="/arcanos">Tarot CMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain" aria-controls="navMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/arcanos">Arcanos Mayores</a>
        </li>
      </ul>
      <div class="d-flex gap-2">
        <a class="btn btn-outline-light" href="/arcanos/import">Importar</a>
        <a class="btn btn-outline-secondary" href="/arcanos/export/builder">Export Builder</a>
        <a class="btn btn-outline-info" href="/arcanos/export/arcanos.json">Exportar JSON</a>
        <a class="btn btn-mystic text-dark fw-semibold" href="/arcanos/new">Nuevo</a>
      </div>
    </div>
  </div>
</nav>
