<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container py-2">
    <a class="navbar-brand brand" href="/arcanos">Tarot CMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain" aria-controls="navMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/arcanos">Cartas (Mazos)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/menores">Cartas Menores</a>
        </li>
      </ul>
      <div class="d-flex gap-2">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Tarot
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/tarot/calculo">Cálculo (perfil)</a></li>
            <li><a class="dropdown-item" href="/tarot/lectura">Lectura (3 cartas)</a></li>
            <li><a class="dropdown-item" href="/tarot/gemini">Gemini (prueba)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/tarot/gemini/generations">Generaciones Gemini</a></li>
            <li><a class="dropdown-item" href="/tarot/gemini/templates">Plantillas Gemini</a></li>
            <li><a class="dropdown-item" href="/tarot/users">Usuarios</a></li>
            <li><a class="dropdown-item" href="/tarot/conectores">Conectores</a></li>
            <li><a class="dropdown-item" href="/tarot/mensajes">Mensajes</a></li>
            <li><a class="dropdown-item" href="/tarot/content">Contenido App</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Importar
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/arcanos/import">Contenido Mayores</a></li>
            <li><a class="dropdown-item" href="/menores/import">Arcanos Menores</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Exportar JSON
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/arcanos/export/arcanos.json">V1 (arcanos.json)</a></li>
            <li><a class="dropdown-item" href="/arcanos/export/v2/arcanos.json">V2 (arcanos.v2.json)</a></li>
            <li><a class="dropdown-item" href="/menores/export/v2/arcanos-menores.json">Menores V2</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/arcanos/export/builder">Custom (Builder)</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-mystic text-dark fw-semibold dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Nuevo
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/arcanos/new">Carta Mayor</a></li>
            <li><a class="dropdown-item" href="/menores/new">Arcano Menor</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
